.vscode
.git
.gitignore
.gitattributes

.vscode
.idea
*.swp
*.swo
*~

.env.dev

vendor/

var/cache/*
var/log/*
var/sessions/*
.phpcs-cache

tests/
phpunit.xml.dist

docker-compose.yml
Dockerfile
.dockerignore
Makefile

.DS_Store
Thumbs.db
